# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Files
Makefile
Hazel.config
Hazel.creator
Hazel.files
Hazel.includes

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
